package router

import (
	"{{ .ModuleName }}/internal/handler"
	"{{ .ModuleName }}/internal/middleware"
	"github.com/gin-gonic/gin"
)

func {{ ToPascalCase .FeatureName }}Router(group *gin.RouterGroup, {{ ToCamelCase .FeatureName }}Handler *handler.{{ ToPascalCase .FeatureName }}Handler, strictAuthMiddleware *middleware.StrictAuthMiddleware) {
	{{ ToCamelCase .FeatureName }}Group := group.Group("/{{ ToSnakeCase .FeatureName }}", strictAuthMiddleware.StrictAuth())

	setup{{ ToPascalCase .FeatureName }}Group := func(g *gin.RouterGroup) {
		{{ ToCamelCase .FeatureName }}Group.POST("/create", {{ ToCamelCase .FeatureName }}Handler.Create)
		{{ ToCamelCase .FeatureName }}Group.GET("", {{ ToCamelCase .FeatureName }}Handler.FindByID)
		{{ ToCamelCase .FeatureName }}Group.PUT("/update", {{ ToCamelCase .FeatureName }}Handler.Update)
	}

	setup{{ ToPascalCase .FeatureName }}Group({{ ToCamelCase .FeatureName }}Group)
}
